body {
    background-image: url("https://media.tenor.com/images/2cb406e7619b591b7f7ca89b51989f57/tenor.gif");
    background-repeat: no-repeat, repeat;
    background-size: auto;
    background-color: #FFFFFF;
    color: inherit;
    width: 18%;
    height: 50%;
}
